
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap'); /* Lato */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); /* Roboto */
  
/* https://coolors.co/e07a5f-3a405a-759aab-e9c46a */
  
:root {
  /* change the values below to your colors from your palette */
  --primary-color: #E07A5F;
  --secondary-color: #3A405A;
  --accent1-color: #759AAB;
  --accent2-color: #E9C46A;

  /* change the values below to your chosen font(s) */
  --heading-font: "Lato", Helvetica, sans-serif;
  --paragraph-font: "Roboto", Helvetica, sans-serif;

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: var(--primary-color);  /* headlines on a white background */ 
  --headline-color-on-color: #F2F2F2; /* headlines on a colored background */ 
  --paragraph-color-on-white: var(--accent1-color); /* paragraph text on a white background */ 
  --paragraph-color-on-color: #F2F2F2; /* paragraph text on a colored background */ 
  --paragraph-background-color: var(--secondary-color);
  --nav-link-color: #F2F2F2;
  --nav-background-color: var(--primary-color);
  --nav-hover-link-color: #F2F2F2;
  --nav-hover-background-color: rgba(236, 146, 121, 0.6);
}

/* Aligning everything to the baseline of the page. */
*, *::before, *::after {
  margin: 0;
  padding: 0;
}

/* Setting a baseline text-size */
body {
  font-size: 16px;
  width: 100%;
}

#disclaimer-div {
  display: grid;
  grid-template-columns: 90% 10%;
  padding: 1%;
  background-color: var(--accent2-color);
  align-items: center;
}

#disclaimer-p {
  font-size: 1em;
  font-family: var(--paragraph-font);
  color: var(--headline-color-on-color);
  text-align: center;
}

#close-disclaimer {
  color: var(--headline-color-on-color);
  justify-self: right;

}

#close-disclaimer:hover {
  color: var(--secondary-color);
  background-color: rgb(253, 220, 136);
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

#close-disclaimer:checked:has(#disclaimer-div) {
  display: none;
}

#close-disclaimer-checkbox {
  display: none;
}